# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Env
.env
.env.local
.env.*.local

# Dependencies
node_modules/
dist/
build/
coverage/
.next/
out/

# Java / Maven
target/
*.class

# Python
__pycache__/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
